  	* { margin:0; padding:0; }
	body { font-family:"맑은 고딕", Arial, sans-serif; }
	li { list-style:none; }
	a { text-decoration:none; }

	.center { width:1180px; margin:0 auto; }

	header {
		height:40px;
		background:#333;
	}
	header .center { overflow:hidden; }
	header .left { float:left; }
	header .left p {
		color:#ccc;
		font-size:14px;
		line-height:40px;
	}
	header .right { float:right; }
	header .right ul { overflow:hidden;}
	header .right ul li { float:left; }
	header .right ul li a {
		font-size:14px;
		color:#ccc;
		line-height:40px;
		border-right:1px solid #ccc;
		padding:0 5px;
	}
	header .right ul li:last-child a { border:0; }
	header .right ul li:hover a { color:#fff; }

	nav { height:80px; position:relative; }
	nav .center { height:80px; }
	nav .center .logo { float:left; }
	nav .center .logo img { width:180px; }
	nav .center .lnb { float:right; }
	nav .center .lnb > ul { height:80px; }
	nav .center .lnb > ul > li { float:left; }
	nav .center .lnb > ul > li > a {
		display:block;
		font-size:22px;
		font-weight:bold;
		color:#333;
		line-height:76px;
		padding:0 10px;
		margin:0 5px;
		border-bottom:4px solid transparent;
	}
	nav .center .lnb > ul > li:hover > a { color:#0042a1; border-bottom:4px solid #0042a1;}
	nav .center .lnb > ul > li > ul { 
		position:absolute;
		left:0; top:100%;
		width:100%;
		background:rgba(255,255,255,0.6);
		z-index:9;
		text-align:center;
		display:none;
	}
	nav .center .lnb ul ul li {
		display:inline-block;
	}
	nav .center .lnb ul ul li a {
		display:block;
		font-size:14px;
		color:#666;
		line-height:40px;
		padding:0 20px;
	}
	nav .center .lnb ul li:hover ul {
		display:block;
	}
	nav .center .lnb ul ul li:hover a {
		color:#0042a1;
	}


	section.main {
		height:280px;
		background:url("../img/main-02.jpg") no-repeat;
		background-size:cover;
		background-position:left 90%;
	}
    section.main #slider {
        width: 100%; height: 100%;
        position: relative; left: 0; top: 0;
    }
section.main div#slider div {width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover;
background-position: center 70%; position: absolute; left: 100%; top: 0;}
    section.main #slider .slide1 {background-image: url("../img/main_visual_01.png");}
    section.main #slider .slide2 {background-image: url("../img/main-01.jpg");}
    section.main #slider .slide3 {background-image: url("../img/main-02.jpg");}



	section.main .center {
		height:100%;
		position:relative;
        z-index: 5;
	}
    
	section.main h2 {
		position:absolute;
		right:90px; bottom: 50px;
		font-size:48px;
		color:#333;
		text-shadow:0 0 5px #fff;
        top:-200px;
	}

	section.contents1 {
		height:115px;
		background:#dde;
	}
	section.contents1 ul { overflow:hidden; padding-top:20px; }
	section.contents1 ul li {
		float:left;
		width:80px; height:75px; margin-right:20px;
		text-indent:-9999px;
	}
	section.contents1 ul li:last-child { margin-right:0; }
	section.contents1 ul li:nth-child(1) {
		background:url("../img/quick_01_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(2) {
		background:url("../img/quick_02_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(3) {
		background:url("../img/quick_03_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(4) {
		background:url("../img/quick_04_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(5) {
		background:url("../img/quick_05_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(6) {
		background:url("../img/quick_06_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(7) {
		background:url("../img/quick_07_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(8) {
		background:url("../img/quick_08_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(9) {
		background:url("../img/quick_09_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(10) {
		background:url("../img/quick_10_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(11) {
		background:url("../img/quick_11_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(12) {
		background:url("../img/quick_12_off.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(1):hover {
		background:url("../img/quick_01_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(2):hover {
		background:url("../img/quick_02_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(3):hover {
		background:url("../img/quick_03_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(4):hover {
		background:url("../img/quick_04_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(5):hover {
		background:url("../img/quick_05_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(6):hover {
		background:url("../img/quick_06_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(7):hover {
		background:url("../img/quick_07_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(8):hover {
		background:url("../img/quick_08_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(9):hover {
		background:url("../img/quick_09_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(10):hover {
		background:url("../img/quick_10_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(11):hover {
		background:url("../img/quick_11_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li:nth-child(12):hover {
		background:url("../img/quick_12_on.png") no-repeat;
		background-size:contain;
	}
	section.contents1 ul li a {
		display:block;
		height:100px;
	}

	section.contents2 {
		height:620px;
		background:#efefef;
	}
	section.contents2 .center { overflow:hidden; }
	section.contents2 .box1 {
		width:280px; height:280px;
		float:left;
		background:#0042a1;
		margin-right:20px;
		margin-top:20px;
		padding:20px;
		box-sizing:border-box;
		color:#fff;
		position:relative;
	}
	section.contents2 .box1 h4 {
		font-size:36px;
		margin-bottom:30px;
	}
	section.contents2 .box1 p {
		font-size:18px;
	}
	section.contents2 .box1 div {
		position:absolute;
		left:20px;
		bottom:20px;
	}
	section.contents2 .box1 div a {
		float:left;
		width:120px; line-height:36px;
		border:2px solid #fff;
		box-sizing:border-box;
		color:#fff;
		text-align:center;
	}
	section.contents2 .box1 div a:hover {
		background:rgba(255,255,255,0.2);
	}
	section.contents2 .box2 {
		width:580px; height:280px;
		float:left;
		background:#fff;
		margin-right:20px;
		margin-top:20px;
		padding:20px;
		box-sizing:border-box;
		position:relative;
	}
	section.contents2 .box2 h4 {
		font-size:36px;
		color:#333;
		padding-bottom:45px;
	}
	section.contents2 .box2 p {
		font-size:24px;
		color:#333;
	}
	section.contents2 .box2 form {
		margin-top:40px;
		overflow:hidden;
	}
	section.contents2 .box2 input {
		float:left;
		font-size:16px;
		width:225px; height:36px;
		padding-left:10px;
		border:2px solid #0042a1;
	}
	section.contents2 .box2 button {
		float:left;
		color:#fff;
		background:#0042a1;
		width:120px; height:36px;
		border:0;
	}
	section.contents2 div.center > div:nth-child(3) {
		background:url("../img/cont-001.jpg") no-repeat;
		background-size:cover;
	}
	section.contents2 div.img {
		width:240px; height:240px;
		background:url("../img/prize.jpg") no-repeat;
		background-size:contain;
		float:left;
		margin-right:10px;
	}
	section.contents2 p.small {
		font-size:14px;
	}
	section.contents2 div.box2 a {
		display:block;
		padding:15px 30px;
		border:2px solid #0042a1;
		position:absolute;
		right:20px;
		bottom:20px;
	}
	section.contents2 div.center div:nth-child(3n) { margin-right:0; }
	section.contents2 div.center div:nth-child(2),
	section.contents2 div.center div:nth-child(6) { background:#03d365; }

	section.contents3 {
		height:460px;
		background:url("../img/health-care.jpg") no-repeat;
		background-size:cover;
	}
	section.contents3 .center {
		position:relative;
	}
	section.contents3 .center .text-logo {
		position:absolute;
		right:150px; top:150px;
		text-align:center;
	}
	section.contents3 .center .text-logo h1 {
		font-size:36px;
		color:#333;
	}
	section.contents3 .center .text-logo img {
		width:180px;
		padding-top:40px;
	}

	section.contents4 { margin-top:20px; height:555px; }
	section.contents4 .text { text-align:center; color:#333; }
	section.contents4 .text h1 { font-size:36px; }
	section.contents4 .text p { font-size:20px; margin-top:20px; }
	section.contents4 .bg-img { overflow:hidden; }
	section.contents4 .bg-img .box {
		width:280px; height:375px;
		padding:20px;
		box-sizing:border-box;
		float:left;
		margin:20px 20px 0 0;
		text-align:center;
		color:#fff;
	}
	section.contents4 .bg-img .box h4 {
		font-size:24px;
		padding-top:20px;
	}
	section.contents4 .bg-img .box hr {
		width:80px; height:4px;
		border:0; background:#fff;
		margin:20px auto;
	}
	section.contents4 .bg-img .box p { font-size:18px; }
	section.contents4 .bg-img .box div { margin-top:20px; }
	section.contents4 .bg-img .box a { 
		display:block;
		width:120px;
		border:2px solid #fff;
		margin:0 auto;
		color:#fff;
		line-height:40px;
	}
	section.contents4 .bg-img .box:nth-child(1) {
		background:url("../img/cont-002.jpg") no-repeat;
		background-size:cover;
	}
	section.contents4 .bg-img .box:nth-child(2) {
		background:url("../img/cont-003.jpg") no-repeat;
		background-size:cover;
	}
	section.contents4 .bg-img .box:nth-child(3) {
		background:url("../img/cont-004.jpg") no-repeat;
		background-size:cover;
	}
	section.contents4 .bg-img .box:nth-child(4) {
		background:url("../img/cont-005.jpg") no-repeat;
		background-size:cover;
		margin-right:0;
	}

	footer {
		background:#555;
		text-align:center;
		padding:20px 0;
	}
	footer p { font-size:13px; color:#fff; }
	footer div.line {
		height:1px;
		background:#ccc;
		margin:15px 0;
	}
	footer ul {
		overflow:hidden;
		display:inline-block;
	}
	footer ul li {
		float:left;
		margin-bottom:15px;
	}
	footer ul li a {
		font-size:13px;
		color:#eee;
		padding:0 10px;
		border-right:1px solid #eee;
	}
	footer ul li:last-child a { border:0; }
	footer img {
		width:150px;
		padding:20px;
	}
